@charset "utf-8";
/* CSS Document */
/*body, div, span, table, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	border: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
body {
/*	font-size: 12px;*/
	font-family: "Open Sans", "Segoe UI", Calibri, Verdana, Geneva, sans-serif;
	background-color:#F5F5F3;
}
/*p {
	font-size: 14px;
}
h1 {
	font-size: 48px;
	font-weight: bold;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 24px;
	font-family: "Lucida Console", Monaco, monospace;
	padding: 10px;
}
h4 {
	font-size: 21px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul, ol {
	list-style: none;
}
a:link {
	text-decoration: none;
	color:#006699;
}
a:visited {
	text-decoration: none;
	color:#003366;
}
a:hover {
	text-decoration:underline;
	color:#0099FF;
}
.no_decoration, .no_decoration:hover, .no_decoration:link, .no_decoration:visited, .no_decoration:active {
	text-decoration:none;
}*/

/* ----------------------- CONTAINERS -------------------- */
#container {
	margin: 0 auto;
	width: 960px;
}
#header {
	width: 100%;
	background-color: #7BBEDF;
}
#footer{
	text-align:center;
	padding:20px;
	margin:0;
	border-top:1px solid #ddd;
	color:#999;
	font-size:0.8em;
	text-shadow:0px 1px 1px #fff;
	position: relative;
	top:0;
	left:0;
	background:#fff;
}
#content {
}
/*#footer {
	width: 100%;
}*/
#module_wrapper {
	/*	position:relative;*/
	padding-top: 25px;
}
#alerts_wrapper {
	position:relative;
}
#alerts {
	position:absolute;
	left: 144px;
	width: 647px; /*  80% */
	padding-left: 30px;
	padding-right: 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px rgba(0,0,0,0.5);
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position: 8px center;
	display: none;
	font-size:16px;
	text-align:center;
	opacity: 0.9;
/*	height: 24px;*/
}
#alerts_close {
	display:none;
	position:absolute;
	/*background-color:#00FF99;*/
	left:825px;
	top:6px;
	width:14px;
	height:14px;
	background-image:url(../img/close.png);
	background-repeat:no-repeat;
}
#alerts_close:hover {
	background-image:url(../img/close_hover.png);
}
#alerts_close:active {
	background-image:url(../img/close_active.png);
}
.language_selector {
	float:right;
	padding: 4px;

/* ---------------------- FORM ELEMENTS ------------------------ */

/*---------------------- TEXT ----------------------------*/
.small_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
